.title {
    text-align: center;
    font-family: copperplate;
    font-size: 5em;
    margin-top: 1rem;
}

.pikoContainer {
    display: flex;
    flex-wrap: wrap;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2rem;
    margin-bottom: 3rem;
    
}    

.piko_card {
    display: flex;
    flex-basis: 25%;
    flex-direction: column;
    margin: 3em;
    border: 1px dotted red;
}

 .piko-img {
    max-width: 8em;
    border-radius: 1em;
    display: flex;
    
    
    
} 





.pikoList {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around;  */
    margin-top: 2rem;
    margin-bottom: 3rem;
    
}


/* .piko-info {
    padding-left: 1.25rem;
}

.info-text {
    font-family: monospace;
    font-size: 1rem;
}

.piko-name {
    font-family: "copperplate", fantasy;
    font-size: 1.5em;
}

.piko-abilities {

}

.piko-category {

}

.piko-weakness {

} */ */
